@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    color: peru;
    background-color: black;
    font-family: montserrat;
    padding: 5px;
    margin: 15px 15px 0 15px;
}

.image {
    border-radius: 15px;
    display: block;
    height: 280px;
    width: 400px;
    background-image: url(images/giphy.gif);
    margin: 0 auto;
}
